[Unit]
Description=PanelPC controller
After=graphical-session.target pipewire.service
PartOf=graphical-session.target

[Service]
ExecStart=@PANELPC_BIN@ -no-browser
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
